<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p"
	default-autowire="byName">
	
	
	<!-- import server side spring context file -->
	<import resource="classpath:/spring/applicationContext-service-container.xml"/>
	
	<!-- use venus placeholder config process -->
	<bean class="com.meidusa.venus.spring.VenusPropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
            	<value>file:${project.home}/application.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="serviceManager" class="com.meidusa.venus.backend.services.xml.XmlFileServiceManager">
        <property name="configFiles">
            <list>
                <value>file:${project.home}/conf/venus-helloworld.xml</value>
            </list>
        </property>
    </bean>
    
    <bean id="authenticateProvider" class="com.meidusa.venus.backend.authenticate.SimpleAuthenticateProvider">
    	<property name="useDummy" value="true"/>
    	<property name="username" value="venus"/>
    	<property name="password" value="venus"/>
    </bean>
    
   <!--  <bean id="executor" class="java.util.concurrent.ThreadPoolExecutor">
    	<constructor-arg index=""></constructor-arg>
    </bean> -->
    
    <bean id="venusExceptionFactory" class="com.meidusa.venus.exception.XmlVenusExceptionFactory" init-method="init">
		<property name="configFiles">
			<list>
				<value>classpath:com/meidusa/venus/exception/VenusSystemException.xml</value>
			</list>
		</property>
	</bean>
</beans>
